.symbol-list{
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    border-right: solid;
    padding-left: 30px;
}
.symbol-display-list img{
    width:60px;
    height: 60px;
    filter: invert(100%);
    transition: transform.1s;
}
.symbol-display-list img:hover {
    transform:scale(1.5);
    filter:invert(100%) drop-shadow(16px 16px 20px cyan) ;
}
.PanelBuilder {
    color: white;
    display: flex;
    // background-image: url('https://wallpaperplay.com/walls/full/c/6/c/68292.jpg');
    // background-image: url('https://images.pexels.com/photos/450055/pexels-photo-450055.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    width:90vw;
    background-color: #1c4c74;
}
.row-display {
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding:40px;
    background-color: transparent;
}
.row {
    display: flex;
}
.panel-image img{
    width:500px;
    border: solid;
    border-radius: 20px;

}
.input{
    padding: 30px;
}