.symbol-page {
    display: flex;
    flex-direction: column;
}
.search-bar {
    height:60px;
    background-color: #a7adba;
    display: flex;
    align-items: center;
    padding: 8px;
    input {
        height: 20px;
        width: 400px;
        margin-left: 8px;
    }
}

.symbol-menu {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
.symbol-map {
    margin:15px;
    display: flex;
    flex-wrap: wrap;
    max-width: 85vw;
    height: auto;
}


.symbol-display img{
    width: 150px;
    height: 150px;
    
}
.symbol-display {
    margin:0;
}
.selected-symbol img{
    width: 200px;
    height: 200px;
    border: solid;
}
.selected-symbol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid;
    padding: 30px;
    margin: 15px;
    height: 80vh;
    width: 20vw;
}
.meaning-text {
    display: flex;
    justify-content: space-evenly;
}