
.Home {
    display: flex;
    width:90vw;
    height:100vh;
    background-image: url(https://lh3.googleusercontent.com/jtm9ouPTH2UB-RCHcH0zjndo5beUEubgABJysMYnr11cmH8LTh7c_HH4Faq4MLrOg4s_MoD0q2Rix3P6UeDj0Pyj9k5xz4WK4tH1qsoNPCm-WHcZMYrSxHXVPPFNjQBRh4z43u8wVZaD0VTRETCAZGPWv6-E9Og-CMySnS2YLpZBX6FNJfdHgfVba8VE-pMFHUk4Av-SFd706DNPDC7hOMrREUlbcz5pK-y50PKuOKqyPmAnB917Hl5f0WvQ3LwdrOUkmo32CKzYlPFdRPFErTxGUJE8TrxrtztQphKxjYoXl6skueqW1Kpu0_BSbwGAkZcaP9sJScQFgXLHs0Weoo6fNoWAz3swlZaHI1Hmqn4iwu2pUvtep08tGl25A7e_DLX1qbhvAKTpXeKz3Br1GrNA5teMH_dTIcxQ2DyMDSfJ0ySkHL-K5B9MSqB_WUn64lAWd5Wn0FQ1yUx6QBxBDFNi1TgQXnQq8X8628c9nYFzi5Rajn1A2md7MiCJYontg8EI8-FkZZfIq5yR2lamX4gBx8_OlyDiUh2VgpXrSNr_hsG84-YqLuKEWYaxXXEx7Nc8lcD-GE9hHFL17_eaxqZAehuu7-y3n-tyVe-m4MYM1C1jPi2bAcopnLZwU8DVDlnNKJl14MmSP9fMjoGH6yUj7IYzQsXIakJrIsVYmliKa1qnr1uHng=w959-h719-no);
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    margin:0px;
    flex-direction: column;
}
.Home-text {
    padding: 50px;
}