.Locations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 90vw;
    img {
        height: 200px;
    }

}
.Single-Locations {
    margin: 20px;
}
.location-icons {
    display: flex;
    flex-direction: space-between;
    flex-wrap: wrap;
}