.Locations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 90vw;
    min-height:90vh;
    // height: 90vh;
    img {
        height: 200px;
        border-radius: 5px;
        transition: transform.3s;
    }
    img:hover{
        transform: scale(1.05);
    }
    
}
.Single-Locations {
    margin: 20px;
}
.location-icons {
    height: 90vh;
    display: flex;
    // flex-direction: flex-start;
    flex-wrap: wrap;
    overflow: auto;
}
@media (max-width: 760px){
    .Locations {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 100vw;
        height: auto;
        // height: 90vh;
        img {
            height: auto;
            width: 90vw;
            border-radius: 5px;
            transition: transform.3s;
        }
        img:hover{
            transform: scale(1.05);
        }
        
    }
    .Single-Locations {
        margin: 20px;
    }
    .location-icons {
        height: auto;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        overflow: auto;
    }
}