.Location {
    display: flex;
    width: 90vw;
    flex-direction: column;
    background-color: #354551;
    color: white;
    img {
    margin-top: 30px;
    }
}
.location-layout {
    display: flex;
    flex-wrap: wrap;
}
.box1 {
    // padding: 30px;
    width: auto;
    border-right: solid;
    background-image: linear-gradient(to bottom, #648cac, transparent)
}