.map-main {
    max-width: 90vw;
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: linear-gradient(to bottom, #648cac, #354551);
    overflow: hidden;
}
.Map-Frame2 {
    display: none;
}
.map-layout {
    display: flex;
    height: auto;
    // flex-direction: row-reverse;
    width: 90vw;
    justify-content: flex-start;
}
.search-results {
    // margin-left:10vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    border-right: solid;
    // background-color: red;
    width: 30vw;
    min-height: 85vh;
    max-height: 87vh;
    margin-right:10vw;
    // margin-left: 5vw;
    background-color: lightgray;
    
    img {
        width: 80px;
        height: 80px;
        padding: 20px;
        border: solid;
        border-radius: 50%;
        margin: 10px;
    }
}
.Map-Frame {
    width: 30vw;
    // overflow: hidden;
}
.Attribute-Results{
    display: flex;
    // min-height:85vh;
    max-height: 85vh;
    width: 45vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    // width: 35vw;
    flex-wrap: wrap;
    overflow: auto;
    margin-right: 10px;
    // border: solid;
    padding: 1px;
    background-color: lightgray;
}
.Attribute-Info {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: auto;
    max-height: 10vh;
    img {
        border: none;
        width: 40px;
        height:40px;
    }
    padding: 10px;
    border: solid .5px rgba(0, 0, 0, 0.212);
    transition: transform.1s;
    cursor: pointer;
}
.Attribute-Info:hover {
    color: white;
    background-image: linear-gradient(to bottom, #648cac, #354551);
    display: flex;
    justify-content: center;
    img {
        filter: invert(100%);
    }
}

@media (max-width: 1100px) {
    .map-main {
        max-width: 100vw;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-image: linear-gradient(to bottom, #648cac, #354551);
        overflow: hidden;
    }
    .Attribute-Results{
        display: flex;
        // min-height:85vh;
        max-height: 85vh;
        width: 55vw;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        // width: 35vw;
        flex-wrap: wrap;
        overflow: auto;
        margin-right: 10px;
        // border: solid;
        padding: 1px;
        background-color: lightgray;
    }
}
@media (max-width: 760px) {
    .map-main {
        max-width: 100vw;
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-image: linear-gradient(to bottom, #648cac, #354551);
        overflow: auto;
    }
    .Attribute-Results{
        display: flex;
        // min-height:85vh;
        max-height: 35vh;
        width: 100vw;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        // width: 35vw;
        flex-wrap: wrap;
        overflow: auto;
        margin-right: 10px;
        // border: solid;
        padding: 1px;
        background-color: lightgray;
    }
    .Attribute-Info {
        display: flex;
        flex-direction: row;
        width: 40vw;
        height: auto;
        max-height: 10vh;
        img {
            border: none;
            width: 30px;
            height:30px;
        }
        padding: 10px;
        border: solid .5px rgba(0, 0, 0, 0.212);
        transition: transform.1s;
        cursor: pointer;
    }
    .search-results {
        // margin-left:10vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 20px;
        border-right: solid;
        // background-color: red;
        min-width: 100vw;
        min-height: 50vh;
        max-height: 50vh;
        margin-right:0vw;
        // margin-left: 5vw;
        background-color: lightgray;
        overflow-y: auto;
        
        img {
            width: 80px;
            height: 80px;
            padding: 20px;
            border: solid;
            border-radius: 50%;
            margin: 10px;
        }
    }
    .map-layout {
        display: flex;
        flex-direction: column;
        height: auto;
        // flex-direction: row-reverse;
        width: 100vw;
        // justify-content: flex-start;
    }
    .Map-Frame {
        display: none;
    }
    .Map-Frame2 {
        display: flex;
    }
}